.container-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.container-col {
    display: flex;
    flex-direction: col;
    align-items: center;
    justify-content: center;
    

}
.heading {
    font-size: 45px;
    font-weight: bold;
    font-style: normal;
    font-family: sans-serif;
}

.heading2 {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-family: sans-serif;
}

.inputNumber {
    padding: 4px;
    margin: 10px 10px;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-family: sans-serif;
    width: 20%;
    border-color: none;
    border-radius: 5px;

}

.button {
    padding: 12px;
    margin: 10px 0px;
    font-size: 28px;
    font-weight: bold;
    font-style: none;
    font-family: sans-serif;
    color: white;
    background-color: #039BE5;
    border-color: none;
    border-radius: 10px;
}